html {
  font-family: 'Inter', 'system-ui';
}

body {
  font-family: Inter;
}

.my-modal {
  width: 90vw; /* Occupy the 90% of the screen width */
  max-width: 90vw;
  margin: auto;
}

.modal-height {
  height: 96%;
}

.carousel-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.carousel-item {
  height: 24rem;
  background: #000;
  color: white;
  position: relative;
}

.carousel-overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.page-item.active .page-link {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white;
}

@media screen and (min-width: 576px) {
  .carousel-item {
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
  }
}

.my-custom-class {
  background-color: #ffffff;
  color: rgb(202, 12, 12);
  width: 100%;
}
